<!DOCTYPE html>
<html>
    <head>
        {%- block head %}
            <meta charset="utf-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta name="viewport" content="width=device-width, initial-scale=1">

            <title>{%- block title -%}{%- endblock -%} Weather Data Aggregator</title>

            <!-- Stylesheets -->
            <link rel="stylesheet" href="/webjars/bootstrap/css/bootstrap.min.css">
            <link rel="stylesheet" href="/webjars/font-awesome/4.7.0/css/font-awesome.min.css">
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/weather-icons/2.0.9/css/weather-icons.min.css">
            <link rel="stylesheet" href="/css/default.css">
        {% endblock -%}
    </head>
    <body>
        <!-- Navigation -->
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">Weather Data Aggregator</a>
                </div>
          < /div>
        </nav>

        <!-- Content -->
        <div id="content" class="container">
            <div class="row">
                <div id="location-search" class="col-md-8 col-md-offset-2">
                    <h2>Wonder what's the weather?</h2>
                    <h4>Type and check!</h4>

                    <form id="main" action="/weather" method="GET">
                        <div class="form-group">
                            <label class="sr-only" for="location">Location</label>
                            <div class="row">
                                <input type="text" class="form-control input-lg" id="location"
                                    name="location" placeholder="Enter your location..."
                                    value="{{ location }}">
                            </div>
                            <div id="control" class="row">
                                <button type="submit" class="btn btn-primary btn-lg">
                                    Check the weather!
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            {%- block content %}{% endblock -%}
        </div>

        <!-- Scripts -->
        <script href="/webjars/jquery/2.1.1/jquery.min.js"></script>
        <script href="/webjars/bootstrap/js/bootstrap.min.js"></script>
    </body>
</html>
