<!DOCTYPE html>
<html>
    <head>
        {% block head %}
            <title>{% block title %}{% endblock %} WDAA</title>
            <meta charset="text/html; charset=UTF-8">
            <link rel="stylesheet" href="/css/default.css" />
        {% endblock %}
    </head>
    <body>
        {% block content %}

        {% endblock %}
    </body>
</html>
